.container{
    margin: 5px;
}
.btn{
    margin-left: 5px;
    margin-top: 4px;
    padding: 5px;
    background: transparent;
    border: 1px solid green;
    border-radius: 10px;
}
.btn:hover{
    margin-left: 8px;
    transition: 0.2s;
}